@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');



p{
    font-family: 'Quicksand','Courier New', Courier, monospace;
}

body{
    font-family: Quicksand;
    background-color: azure;
}